@import "../variables";

.container {
  display: grid;
  grid-gap: 0.75rem;
  header {
    h3 {
      padding: 0 8px;
      font-weight: bold;
      font-size: 14px;
    }
  }
  width: max-content;
  max-width: 100%;
  .inlineForm {
    grid-column: 1/-1;
    form {
      display: grid !important;
      grid-template-columns: 1fr minmax(4rem, max-content);
      align-items: center;
      grid-gap: 20px;
      .btns {
        display: flex;
        grid-column: -1/-2;
        grid-gap: 0.5rem;
        button {
          display: flex;
          align-items: center;
          grid-gap: 4px;
          border-radius: 4px;
          font-size: 14px;
        }
      }
    }
  }
  .content {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: clamp(20rem, 25rem, 25rem) 1fr;
    &.parent_child {
      table {
        tbody {
          tr:first-child {
            background: white;
            position: sticky;
            top: 0;
          }
        }
      }
      .parent {
        .head {
          margin-bottom: 0.5rem;
        }
        table {
          tbody {
            max-height: calc(100vh - (50px + 25px + 45px + 70px));
          }
          tr {
            grid-template-columns: 1fr 4rem;
            .inlineForm {
              form {
                grid-template-columns: 1fr minmax(4rem, max-content);
              }
            }
            td:not(.inlineForm) {
              color: #3450a3;
              text-decoration: underline;
              span {
                cursor: pointer;
              }
            }
            &.selected {
              background: rgb(191, 216, 226) !important;
            }
          }
        }
      }
      .child {
        display: grid;
        grid-auto-rows: max-content;
        .head {
          min-height: 38px;
          span {
            display: block;
            // padding-bottom: 0.5rem;
          }
        }
        table {
          tbody {
            max-height: calc(100vh - (50px + 25px + 45px + 70px));
          }
          tr {
            grid-template-columns: minmax(15rem, 20rem) 4rem;
            form {
              grid-template-columns: 1fr minmax(4rem, max-content);
            }
          }
        }
      }
    }
    .subCategory {
      tr {
        grid-template-columns: minmax(10rem, 20rem) minmax(10rem, 20rem) 5rem 6rem 3rem 5rem !important;
      }
      .inlineForm {
        border: none !important;
        padding: 0 !important;
        form {
          grid-template-columns: minmax(10rem, 20rem) minmax(10rem, 20rem) 5rem 6rem 3rem 5rem !important;
        }
      }
      .reportableBtn {
        cursor: pointer;
        color: $primary-color;
        text-decoration: underline;
      }
    }
    .masters,
    .mastersDetails,
    .irCodeConfig {
      .head {
        max-width: 25rem;
        section {
          display: flex;
          label {
            white-space: nowrap;
          }
          align-items: center;
          grid-gap: 0.5rem;
        }
        margin-bottom: 0.5rem;
      }
    }
    .mastersDetails {
      tr {
        grid-template-columns: clamp(5rem, 50%, 20rem) 4rem 1fr !important;
        th,
        td {
          &:last-child {
            text-align: left;
            margin: auto;
            margin-left: 0;
          }
        }
      }
    }
    .rca {
      tr,
      .inlineForm form {
        grid-template-columns: 1fr 2.5rem 4rem !important;
      }
    }
    .rcaDetail {
      .head {
        min-height: 30px !important;
      }
      margin-top: -30px;
    }
    .twoFieldMasterDetail {
      .inlineForm form {
        grid-template-columns: 1fr 3rem 3rem !important;
      }
      tr {
        grid-template-columns: clamp(5rem, 50%, 20rem) 3rem 3rem !important;
      }
    }
    .personAffectedDetails {
      .loading {
        background: rgb(191, 216, 226) !important;
        pointer-events: none;
      }
    }
  }
  .locations {
    display: grid;
    .inlineForm {
      border: none !important;
      padding: 0 !important;
    }
    tr,
    form {
      grid-template-columns: 15rem 15rem 3rem 5rem;
    }
  }
  .irCodeConfig {
    width: max-content;
    tr,
    form {
      grid-template-columns: 3rem 10rem 10rem;
    }
    tr {
      .handle {
        font-size: 1.5rem;
        cursor: grab;
        &:active {
          cursor: grabbing !important;
        }
      }
    }
    .btns {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .users {
    display: grid;
    .inlineForm {
      border: none !important;
      padding: 0 !important;
    }
    tr,
    form {
      grid-template-columns: 12rem 5rem 10rem 8rem 10rem 15rem 10rem 10rem 10rem 5rem;
    }
    tr {
      .moreRoles {
        font-size: 14px;
        background: #3c5ec8;
        color: white;
        height: 1.4rem;
        width: 1.4rem;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        .allRoles {
          text-align: left;
          display: none;
          position: absolute;
          background: white;
          color: black;
          width: max-content;
          padding: 6px;
          right: -0.8rem;
          top: 1.75rem;
          filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.52));
          border-radius: 4px;
          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 0.5rem solid transparent;
            border-top: 0;
            border-bottom: 0.7rem solid white;
            position: absolute;
            right: 1rem;
            top: -0.7rem;
          }
        }
        &:hover {
          .allRoles {
            display: inline-block;
          }
        }
      }
    }
  }
  .ram {
    display: grid;
    form {
      display: grid;
      align-items: center;
      grid-gap: 20px;
    }
    .inlineForm {
      border: none !important;
      padding: 0 !important;
    }
    tr,
    form {
      grid-template-columns: 12rem 8rem 10rem 8rem 10rem 7rem 5rem;
    }
  }
  .departments {
    width: 25rem;
    tr,
    .inlineForm form {
      grid-template-columns: 1fr minmax(3rem, max-content);
    }
  }
}
.chip {
  display: flex;
  align-items: center;
  grid-gap: 0.3rem;
  border: 1px solid rgb(186, 194, 199);
  background: rgb(246, 246, 246);
  border-radius: 3px;
  padding: 2px 6px;
  font-size: 14px;
  width: max-content;
  button {
    font-size: 18px;
    color: red !important;
  }
}

.reportableForm {
  width: 100%;
  max-width: 50rem;
  .content {
    padding: 10px;
    tr,
    .inlineForm form {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 15rem 1fr 4rem;
    }
    .inlineForm {
      grid-column: 1/-1;
      textarea {
        min-height: 30px !important;
        height: min-content !important;
      }
      .btns {
        display: flex;
        grid-gap: 6px;
        align-items: center;
      }
    }
  }
}
.categoryForm {
  padding: 15px;
  display: grid;
  grid-gap: 1rem;
  .inputs {
    display: flex;
    grid-gap: 0.5rem;
  }
}
.annotationTemplate {
  grid-column: 1/-1;
  h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .form {
    display: flex;
    grid-gap: 0.5rem;
    flex-wrap: wrap;
    border: 1px solid rgb(186, 194, 199);
    padding: 6px;
    margin-bottom: 0.5rem;
  }
  .save {
    margin: auto;
  }
}
