@import "variables";

main {
  max-height: calc(100vh - 50px);
}
.container {
  // max-width: 85rem;
  max-width: 100rem;
  display: grid;
  grid-gap: 0.5rem;
  overflow: hidden;
  grid-template-rows: min-content min-content 1fr;
  header {
    h3 {
      padding: 0 8px;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .myDashboard,
  .qualityDashboard {
    display: grid;
    .report {
      padding: 6px 0;
      button {
        color: black;
        font-size: 1rem !important;
        svg {
          color: $primary-color;
        }
      }
      width: 100%;
      display: flex;
      justify-content: flex-end;
      grid-gap: 6px;
    }
    .filters {
      background: #d7dff4;
      display: grid;
      padding: 10px;
      border: 1px solid #b7b7b7;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 1rem;
      align-items: center;
      // margin-bottom: 0.75rem;
      .pair,
      .btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 0.5rem;
        & > label {
          grid-column: 1/3;
          font-size: 0.8rem;
          font-weight: 600;
          margin-bottom: 0.2rem;
          display: block;
          white-space: nowrap;
        }
      }
      .btns {
        width: max-content;
        .clear {
          color: rgb(76, 129, 158);
          text-decoration: underline;
        }
      }
      .checkboxes {
        height: min-content;
        margin-top: auto;
        margin-bottom: 8px;
        display: flex;
      }
    }
    table {
      tr {
        position: relative;
        grid-template-columns: 12rem 8rem 8rem 7rem 7rem 8rem 8rem 6rem 6rem 5rem 5rem 4.5rem;
        &.sentinel {
          background: #ffe8e9;
          &::before {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 3px;
            background: $red;
          }
        }
        &.focus {
          background: rgb(191, 216, 226) !important;
        }
        .icons {
          position: relative;
          width: 1.3rem;
          display: inline-block;
          .user {
            color: $orange;
          }
          .sentinel {
            color: rgb(230, 16, 54);
          }
          .reportable {
            color: rgb(115, 49, 162);
          }
          &:hover {
            .patientDetail {
              display: inline-block;
            }
          }
          .patientDetail {
            display: none;
            position: absolute;
            background: white;
            z-index: 10;
            left: -6px;
            top: 150%;
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.52));
            border-radius: 4px;
            padding: 8px;
            width: max-content;
            font-size: 13px;
            &::before {
              content: "";
              display: block;
              width: 0;
              height: 0;
              border: 0.5rem solid transparent;
              border-top: 0;
              border-bottom: 0.7rem solid white;
              position: absolute;
              left: 0.5rem;
              top: -0.7rem;
            }
          }
        }
        .tat {
          text-decoration: underline;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }
    .legend {
      padding: 0.5rem 0;
      display: flex;
      grid-gap: 2rem;
      align-items: center;
      flex-wrap: wrap;
      font-size: 14px;
      span {
        svg {
          height: 16px;
          width: 16px;
        }
        grid-gap: 0.3rem;
        display: flex;
        align-items: center;
      }
    }
  }
  .myDashboard {
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    table {
      tbody {
        max-height: calc(100vh - 540px);
      }
    }
    .reportCounts {
      display: flex;
      grid-gap: 1rem;
      margin-bottom: 0.75rem;
      .reportCount {
        border-radius: 0.5rem;
        flex: 1;
        padding: 8px 16px;
        &.open {
          h4 {
            color: #57abcf;
          }
          background-color: #f7fbfe;
          border: 1px solid #84aac7;
        }
        &.pending {
          h4 {
            color: #cb604a;
          }
          background-color: #fef4f2;
          border: 1px solid #cd978d;
        }
        &.closure {
          h4 {
            color: #96409f;
          }
          background-color: #fcf2fd;
          border: 1px solid #bc8ac1;
        }
        h4 {
          margin-bottom: 0.25rem;
        }
        .data {
          grid-gap: 0.35rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          font-size: 14px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.7);
          label {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
  .qualityDashboard {
    grid-template-rows: min-content 1fr min-content;
    table {
      tbody {
        max-height: calc(100vh - 440px);
      }
    }
  }
}
.assignModal,
.tatDetails {
  .content {
    padding: 10px 20px;
    padding-bottom: 20px;
    .timeline {
      font-weight: 600;
      padding-top: 10px;
      display: grid;
      grid-gap: 10px;
      li {
        display: flex;
        grid-gap: 6px;
        align-items: center;
        .ball {
          display: block;
          border-radius: 50%;
          height: 1.2rem;
          width: 1.2rem;
          border: 1px solid #a7a8a1;
          background: #e0e0e0;
          position: relative;
          &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 1px;
            background: #a7a8a1;
            left: 50%;
            top: 100%;
            z-index: -5;
          }
          &.new {
            background: white;
            border-color: #363b5d;
            &::after {
              background: #363b5d;
              height: 70%;
            }
          }
        }
        .status {
          color: $green;
        }
        .ir {
          color: $red;
        }
      }
    }
    .irDetail {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;
      font-size: 14px;
      font-weight: 600;
      background: rgb(246, 246, 246);
      padding: 10px 15px;
    }
    form {
      .userCombo {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        grid-gap: 6px;
      }
      // display: grid;
      // justify-content: center;
      .btns {
        display: flex;
        justify-content: center;
        grid-gap: 10px;
      }
    }
  }
}

.paper {
  display: none;
  // padding: 1rem;
  // margin: 25mm 25mm 25mm 25mm;
  table {
    border: 1px solid #b7b7b7;
    // width: calc(100% - 2rem);
    tr {
      color: #363843;
      grid-gap: 20px;
      padding: 10px;
      td,
      th {
        text-align: left;
        padding: 6px;
      }
    }
    thead {
      background: #647299;
      tr {
        background: inherit;
        font-size: 12px;
        font-weight: bold;
      }
      th {
        color: white;
      }
    }
    tbody {
      tr {
        font-size: 13px;
        min-height: 30px;
        &:nth-child(even) {
          background: #f3f3f3;
        }
        &:nth-child(odd) {
          background: #ffffff;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #b7b7b7;
        }
      }
    }
  }
}

.tatDetails {
  .content {
    display: grid;
    grid-gap: 0.5rem;
    .totalDays {
      text-align: right;
    }
    table {
      tr {
        grid-template-columns: 8rem 10rem 15rem 4rem;
      }
    }
    .btns {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }
}

@media print {
  .paper {
    display: block;
  }
}
