@import "variables";

main {
  max-height: 100vh;
  overflow: auto;
}
.container {
  max-width: 85rem;
  display: grid;
  grid-gap: 1rem;
  header {
    h3 {
      padding: 0 8px;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
    .subHead {
      display: flex;
      align-items: center;
      grid-gap: 8px;
      section {
        display: flex;
        grid-gap: 6px;
        align-items: center;
      }
    }
    .note {
      flex: 1;
      font-size: 0.8rem;
      padding: 0.4rem;
      border-radius: 4px;
      border: 1px solid #b7d7df;
      color: #236a89;
      background: #d6f1f8;
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      svg {
        font-size: 0.9rem;
      }
    }
  }
  .content {
    display: grid;
    grid-gap: 1rem;
    .preventabilityWrapper,
    .actionWrapper,
    .preventability {
      tr {
        td,
        th {
          &:last-child {
            text-align: left;
          }
        }
      }
    }
    .preventabilityWrapper {
      &.err {
        table {
          border: 1px solid red;
        }
      }
      .errMsg {
        font-size: 10pt;
        color: red;
      }
    }
    .personAffected {
      .userTypes {
        display: flex;
        grid-gap: 12px;
      }
      display: grid;
      grid-gap: 12px;
      .personAffectedTable {
        table {
          tbody {
            tr:first-child {
              margin: 4px 0;
              td {
                padding: 0;
                border: none;
              }
            }
          }
          .inlineForm {
            grid-column: 1/-1;
            form {
              width: 100%;
              display: grid;
              grid-gap: 20px;
              align-items: flex-start;
              .btns {
                padding: 0;
                display: flex;
                justify-content: flex-start;
                button {
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  grid-gap: 6px;
                }
              }
            }
          }
          // tr,
          // form {
          //   grid-template-columns: 1fr 1fr 1fr 5rem;
          // }
        }
      }
    }
    .contributingFactor {
      display: grid;
      grid-template-columns: 15rem 1fr;
      border: 1px solid $primary-grey;
      .sidebar {
        padding: 10px;
        background: $light-grey;
        border-right: 1px solid $primary-grey;
        ul {
          display: grid;
          grid-gap: 6px;
        }
      }
      .content {
        padding: 10px 25px;
        .parent {
          .parentName {
            font-size: 0.9em;
            color: $primary-color-dark3;
            margin-bottom: 4px;
            display: block;
          }
          display: grid;
          grid-gap: 12px;
          .children {
            display: grid;
            grid-gap: 6px;
          }
        }
      }
    }
    .tables {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem 2rem;
      & > div > table {
        min-height: 23rem;
        // background: red;
      }
      .inlineForm {
        grid-column: 1/-1;
        form {
          display: grid;
          grid-gap: 20px;
          align-items: flex-start;
          .btns {
            display: flex;
            justify-content: flex-start;
            button {
              border-radius: 4px;
              display: flex;
              align-items: center;
              grid-gap: 6px;
            }
          }
        }
      }
      h4 {
        font-size: 1rem;
        font-weight: 600;
      }
      .actionWrapper {
        grid-column: 1/3;
      }
      .actionTaken {
        tr,
        .inlineForm form {
          grid-template-columns: 1fr 13rem 13rem 4rem;
        }
        .inlineForm {
          textarea {
            min-height: 10px !important;
          }
        }
      }
      .witnesses {
        tr,
        form {
          grid-template-columns: 0.5fr 0.5fr 4rem;
        }
      }
      .notified {
        tr,
        form {
          grid-template-columns: 1fr 1fr 1fr 4rem;
        }
      }
    }
    .fieldWrapper {
      display: grid;
      grid-gap: 1rem 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      & > * {
        max-width: 20rem;
      }
    }
    .btns {
      display: flex;
      grid-gap: 0.5rem;
      justify-content: center;
    }
  }
  &.preview {
    header {
      h3 {
        margin: 0;
      }
      button {
        text-decoration: underline;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content {
      font-size: 0.95rem;
      .summary {
        background: rgb(246, 244, 244);
      }
      .acknowledged {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        background: #f8fef0;
        border: 1px solid $primary-grey;
        padding: 12px;
        font-weight: 500;
        font-size: 1.15em;
        .ack {
          color: $green;
        }
        .icon {
          display: grid;
          font-size: 2rem;
          color: $green;
        }
      }
      .highlight {
        background: rgb(237, 251, 249);
        padding: 5px 10px;
        border: 1px solid rgb(205, 241, 241);
      }
      .summary,
      .incidentDetail {
        grid-gap: 6px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      .drugs,
      .category,
      .administration {
        grid-gap: 6px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      }
      .category {
        padding: 0;
      }
      .tables {
        .actionTaken {
          tr {
            grid-template-columns: 1fr 13rem 13rem;
          }
        }
        .witnesses {
          tr {
            grid-template-columns: 0.5fr 0.5fr;
          }
        }
        .notified {
          tr {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
      .categoryWrapper {
        display: grid;
        grid-gap: 14px;
      }
    }
    .data {
      .value {
        font-weight: bold;
      }
      &.richData {
        & > .label {
          display: block;
          font-size: 13px;
          color: $primary-color;
          font-weight: 500;
          margin-bottom: 4px;
        }
      }
    }
  }
}
.box {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3f5182;
    position: relative;
    margin-bottom: 0.5rem;
    h4 {
      background: white;
      padding: 0 0.5rem;
      margin-left: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
    &::before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgb(135, 135, 135);
    }
    button {
      font-size: 1.4rem;
      color: rgb(135, 135, 135);
      background: white !important;
    }
  }
  .boxContent {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-column-gap: 2rem;
    &.typeOfIncident {
      grid-template-columns: 1fr;
    }
  }
  .placeholder {
    background: rgb(238, 238, 238);
    text-align: center;
    height: 5rem;
    display: grid;
    place-items: center;
    font-style: italic;
    color: rgb(113, 113, 113);
    border-radius: 4px;
    border: 1px dashed rgb(189, 189, 189);
  }
  .typeOfIncident {
    .radio {
      display: flex;
      section {
        // width: ma-content;
      }
      grid-gap: 1rem;
    }
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
    .info {
      font-size: 1.2rem;
    }
    .placeholder {
      flex-basis: 100%;
    }
  }
  .incidentCategory {
    .form {
      & > section {
        min-width: 15rem;
      }
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      grid-gap: 0.5rem 1.5rem;
      margin-bottom: 1rem;
      align-items: center;
      .info {
        font-size: 1.2rem;
      }
      .addRow {
        margin: 0 auto;
        margin-right: 0;
      }
    }
  }
  .adverseEvent {
    width: 100%;
    display: grid;
    tr {
      display: grid;
    }
    thead {
      display: block;
      border: 1px solid rgb(181, 181, 182);
      tr {
        color: white;
        th {
          font-weight: 400 !important;
        }
        padding: 0.5rem;
        text-align: left;
        grid-template-columns: 1fr;
        background: #647299;
      }
    }
    tbody {
      tr {
        grid-template-columns: 20rem 1fr;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid rgb(181, 181, 182);
        border-top: none;
        &:nth-child(2n) {
          background: #f3f3f3;
        }
      }
    }
  }
  .incidentDescription {
    .description {
      margin-bottom: 1rem;
    }
    .departments {
      width: max-content;
    }
  }
}
.categoryTable {
  width: 55rem;
  .container {
    padding: 10px;
    table {
      // width: max-content;
      tr {
        grid-auto-columns: minmax(12rem, 20rem);
        grid-auto-flow: column;
        td {
          label {
            input {
              flex-shrink: 0;
            }
            display: flex;
            grid-gap: 6px;
            align-items: center;
          }
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      justify-content: center;
    }
  }
}

.acknowledgeForm {
  // width: 100% !important;
  max-width: 35rem !important;
  form {
    padding: 20px;
    padding-top: 10px;
    display: grid;
    grid-gap: 5px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    .remark,
    .btns {
      grid-column: 1 / -1;
    }
    .btns {
      margin-top: 1rem;
      display: flex;
      grid-gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .tables {
    grid-template-columns: 1fr !important;
    .actionWrapper {
      grid-column: 1/2 !important;
    }
  }
}
